<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.brunogabriel.rickmorty.onboard">

    <application>
        <activity
            android:name=".presentation.activity.OnboardActivity"
            android:theme="@style/Theme.RickMortyFirstAccess" />
    </application>

</manifest>