<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.brunogabriel.rickmorty.main">

    <application>
        <activity
            android:name=".presentation.activity.MainActivity"
            android:theme="@style/Theme.RickMortyAndroidApp" />
    </application>

</manifest>